// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap';

// Fontawesome
@import "./node_modules/@fortawesome/fontawesome-free/css/all.min.css";


* {
  font-family: 'Nunito', sans-serif;

  main {
    padding: 0% 2%;
  }
}

/*Estilos generales*/
.btn-admin-edit {
  background-color: #ffffff;
  color: #C71585;
  font-weight: 500;
  font-size: 16px;
  border-style: solid;
  border-color: #C71585;

  &:hover {
    background-color: #C71585;
    color: #ffffff;
  }
}

.btn-admin-create {
  background-color: #ffffff;
  color: #00C67E;
  font-weight: 500;
  font-size: 16px;
  border-style: solid;
  border-color: #00C67E;

  &:hover {
    background-color: #00C67E;
    color: #ffffff;
  }
}

.btn-admin-delete {
  background-color: #ffffff;
  color: #FFD700;
  font-weight: 500;
  font-size: 16px;
  border-style: solid;
  border-color: #FFD700;

  &:hover {
    background-color: #FFD700;
    color: #ffffff;
  }
}

.table-header {
  background-color: #0B5ED7;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

/*Plantilla admin*/
#body-admin {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: 'Nunito', sans-serif;

  header {
    background-color: #dedede;
    padding: 2% 0%;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: space-between;

    h2 {
      width: 90%;
      color: #1f2c4c;
      font-weight: bold;
    }
  }

  #main-inicio-admin {
    padding: 2%;
    text-align: center;
    background-image: url('../../public/images/colmena.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    height: 100%;
  }

  section:first-child {
    *background-color: #8cc2f9;

  }

  section:nth-child(2) {
    *background-color: pink;
    width: 100%;

    main {
      margin: 30px 15px;
    }
  }

  #sidebar-admin {
    background-color: #1f2c4c;
    width: 300px;
    height: auto;
    background: #162447;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);

    ul {
      padding: 0%;
    }

    h4 {
      text-align: center;
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      padding: 20px 0;
    }

    .accordion {
      background-color: #1f2c4c;
      color: #ffffff;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.8s;

      i {
        margin-right: 10px;
      }
    }

    .active,
    .accordion:hover {
      *background-color: #ccc;
    }

    .panel {
      padding: 0 18px;
      display: none;
      background-color: white;
      overflow: hidden;

      li {
        height: 40px;
        display: flex;

        a {
          text-decoration: none;
          color: #1f2c4c;
          display: flex;
          align-items: center;
          background-color: transparent;
        }
      }
    }

    .accordion:after {
      content: '\02795';
      /* Unicode character for "plus" sign (+) */
      font-size: 13px;
      color: #777;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\2796";
      /* Unicode character for "minus" sign (-) */
    }
  }

}



/*Página edición vídeos*/
#main-editar-videos {

  .form-group {
    padding: 1% 5%;

    label {
      font-weight: 600;
      font-size: 16px;
    }

  }

  .form-group:nth-child(5) {
    display: flex;
    justify-content: center;
  }

}

/*Página gestión vídeos*/
#section-table-videos th {
  background-color: #7169E2;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

#section-table-videos tr {
  background-color: #dedede;
}

#section-table-videos tr td {
  text-align: center;
}

#section-table-videos tr:hover {
  cursor: pointer;
}

.btn-principal {
  background-color: #F6C115;
  color: var(--grey-dark-color);
  font-weight: 600;
  font-size: 18px;

  &:hover {
    background-color: var(--verde-oscuro);
    color: #ffffff;
  }
}

header {
  background-color: var(--grey-light-color);
  padding: 0% 2%;
  margin: 0%;

  h1 {
    color: var(--verde-oscuro);
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
  }

  #btn-login {
    background-color: #F6C115;
    color: var(--grey-dark-color);
    font-weight: 600;
    font-size: 18px;



    &:hover {
      background-color: var(--verde-oscuro);
      color: #ffffff;
    }
  }

  #header-right {
    display: flex;
    justify-content: space-around;
    width: 30%;

    #iconos-rrss {
      display: flex;
      width: 5%;

      i {
        color: var(--verde-oscuro);
        padding: 10px;
        font-size: 20px;
      }
    }


    .user-info {
      display: flex;
      flex-direction: column;
    }

  }


  .video-content {
    width: auto;
  }
}

.mb-4 {
  margin-bottom: 0rem !important;
}

nav {
  margin: 0%;
  padding: 0%;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      padding: 30px 0%;
      background-color: #ffffff;
      opacity: 0.8;

      a {
        color: var(--verde-medio);
        /* un tono marrón claro */
        text-decoration: none;
        /* quita subrayado */
        font-weight: bold;
        padding: 5px 10px;
        /* espacio interno */
        border-radius: 5px;
        /* bordes redondeados */
        font-size: 20px;
      }
    }

    li.active {
      background-color: var(--verde-medio);

      a {
        text-decoration: none;
        color: #ffffff;
      }
    }

    li:hover {
      background-color: var(--verde-medio);

      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}

//Página inicio
#inicio-up {
  display: flex;

  #inicio-videos {
    a {
      margin: 0 40%;
    }
  }

  #inicio-text {
    padding: 2%;
  }

  #video-line-2 {
    display: flex;
  }

}

#carousel {
  display: flex;
  flex-direction: column;
  margin: 2% 0;

  #inicio-cards {
    display: flex;
    justify-content: center;
  }

  a {
    margin: 0 40%;
  }
}

#inicio-cards {
  .card {
    margin: 0% 3%;

    //sombra
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

  }
}

#btn-ver-premios {
  margin: 4% 0%;
}

//Premios
.gallery {
  display: flex;
  padding: 2px;
  transition: .3s;

  &:hover &__image {
    filter: grayscale(1);
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  &__link {
    margin: 2px;
    overflow: hidden;

    &:hover {
      .gallery__image {
        filter: grayscale(0);
      }

      .gallery__caption {
        opacity: 1;
      }
    }
  }

  &__thumb {
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
    transition: .3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: .3s;
  }
}

//Página colaboradores

#form-buscar-usuario {

  div {
    input {
      background-color: #dedede !important;
    }
  }
}

#main-crear-colaborador {
  form {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 0.5rem;
    }

    input[type="text"],
    select {
      padding: 0.5rem;
      margin-bottom: 1rem;
      border: none;
      border-radius: 3px;
      background-color: #f3f3f3;
      font-size: 1rem;

      &:focus {
        outline: none;
        box-shadow: 0px 0px 5px #bbb;
      }
    }

    .btn-primary {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 3px;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #0069d9;
      }

      &:focus {
        outline: none;
        box-shadow: 0px 0px 5px #bbb;
      }
    }
  }

}

//Formularios
#form-crear-colaborador {
  background-color: #bbb;
  padding: 5%;

  #div-imagen {
    margin: 2% 0%;
  }
}

//Gestión usuarios
#form-crear-usuario {
  margin: 0% 10%;
  padding: 2% 5%;
  background-color: lightblue;

  .form-row-2 {
    display: flex;
    justify-content: space-between;

    .form-group {
      width: 48%;
    }
  }

  .form-row-3 {
    display: flex;
    justify-content: space-between;

    .form-group {
      width: 33%;
    }
  }


  button {
    width: 100%;
    margin: 2% 0%;
  }


}